/*
  This css file is for individual users to restyle items for their personal site,
  or for the implementation of features specifically for their site. Anything that
  is an official part of the theme (ex. Pull Requests) should be included in main.css
  and follow the formatting and style given.
*/

/* 46 */
body {
  background: #242930;
}

/* 59 */
body,
input,
select,
textarea {
    color: #afbac4;
    font-family: Helvetica, sans-serif;
}

/* 84 */
a:hover {
  border-bottom-color: transparent;
  /*
  color: #7495ad
  color: #5195c5
  */
  color: #288ad0
  /*
  */
}

/* 88 */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    letter-spacing: 0.2em;
    /*
    text-transform: none;
    */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
}

/* 117 */
code {
  background-color: #414852;
  border: none;
  padding: 0.25em 0.45em
}

/* 152 */
input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    margin: .25em auto;
}

/* 178 */
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:hover {
    border: solid 1px #288ad0;
    color: #288ad0 !important
}

/* 191 */
label {
  color: #ffffff;
}

/* 240 */
table {
  color: #242930
}

/* 273 */
@media (min-width : 768px) {
  table>tbody>tr:hover {
    background-color: #288ad0
  }
}

/* 382 */
.lessfancybox {
  background: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 10px auto;
  max-width: 85%;
  /*
  padding: 0.5em 0.5em 0 0.5em;
  */
  width: fit-content;
}

/* 1373 */
.post {
  background: #353b43;
}

/* 1416 */
.post>header .meta .published {
  font-family: Helvetica, sans-serif;
  letter-spacing: 0.2em;
  /*
  text-transform: none;
  */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}

/* 1423 */
.post>header .meta p,
.post>header .meta .author,
.post>header .meta .format {
  font-family: Helvetica, sans-serif;
  letter-spacing: 0.2em;
  /*
  text-transform: none;
  */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}

/* 1510 */
.post>footer .stats li ul li {
  font-family: Helvetica, sans-serif;
  letter-spacing: 0.2em;
  /*
  text-transform: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  */
}

.post > footer .stats li ul li a {
  overflow: inherit;
  text-overflow: inherit;
  white-space: nowrap;
}

/* 1548 */
#site-header {
  background-color: #353b43;
}

#site-header a {
  font-family: Helvetica, sans-serif;
  letter-spacing: 0.2em;
  /*
  text-transform: none;
  */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}

/* 1873 */
#recent-posts .mini-post {
  background: #353b43;
}

/* 1909 */
#recent-posts .mini-post header .published {
  font-family: Helvetica, sans-serif;
  letter-spacing: 0.2em;
  /*
  text-transform: none;
  */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}

/* 1960 */
#site-footer .copyright {
  font-family: Helvetica, sans-serif;
  letter-spacing: 0.2em;
  /*
  text-transform: none;
  */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}
